.card {
    width: 80%;
    max-width: 250px;
    height: 400px;
    
    background-color: white;

    border-radius: 4%;
    margin: 100px auto;
}

.card .card-img {
    width: 90%;
    height: 70%;

    background-color: var(--cinza);

    margin: auto;
    border: solid 2px white;
    border-radius: 20%;

    position: relative;
    top: -50px;
}

.card .card-img img {
    height: 120%;
    width: 100%;

    display: block;

    margin: auto;
    /*Responsável por adequar a imagem ao container.*/
    margin-top: -23%;

    position: relative;
}

.card .container-texto {
    width: 80%;

    margin: auto;
}