/*Open Sans -> Regular(400)/Bold(700)*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*Montserrat -> Bold(700)*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--cinza);
  font-weight: 400;
}

body {
  background-color: var(--cinza);
}

html {
  font-size: 62.5%;
}

:root {
  --cinza: #363636;
  --verde: #63C7A9;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.texto-branco {
  color: white;
}

.texto-verde {
  color: var(--verde);
}

.maiusculo {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.bg-dark {
  background-color: var(--cinza);
}

.container {
  width: 92.5%;
  max-width: 1000px;
  margin: auto;
}

input, button, textarea {
  outline: none;
}

.erro {
  color: red;
}

.texto-pequeno {
  font-size: 1.225rem;
}